<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-keyknight</string>
	<key>connections</key>
	<dict>
		<key>AB8F397A-0188-434D-AAAA-D523253E886D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>315A26AD-2578-4663-B856-2470F0B798F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB0C3DD8-193E-4B96-8278-328D1456E1F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CA3C80D-EA49-423D-912B-2F5E5E9E8391</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9138577-74D4-456D-8F44-F1C978230EC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>961BDDAE-2EA8-4D1D-B622-BC6302DA23FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>conquer your keyboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>keyknight</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:MAP_KEY}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 keyknight.py "map" $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>keyknight (mapped)</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>315A26AD-2578-4663-B856-2470F0B798F4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AB8F397A-0188-434D-AAAA-D523253E886D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BB0C3DD8-193E-4B96-8278-328D1456E1F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:LEARNING_KEY}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 keyknight.py "hidden" $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>keyknight (learning)</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9CA3C80D-EA49-423D-912B-2F5E5E9E8391</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E9138577-74D4-456D-8F44-F1C978230EC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>12</integer>
				<key>filterable</key>
				<false/>
				<key>fixedorder</key>
				<true/>
				<key>imageaspect</key>
				<integer>0</integer>
				<key>inputfile</key>
				<string>keyknight.py</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<false/>
				<key>subtitlesinfooter</key>
				<false/>
				<key>titlesinfooter</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>961BDDAE-2EA8-4D1D-B622-BC6302DA23FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># keyknight 
conquer your keyboard 👇️

An Alfred Worfklow to review the layout of your keyboard and corresponding finger positions.


![](../keyknight.png)

## Motivation ✅

- Quickly check the layout and finger positions of QWERTY or Dvorak keyboards to improve your touchtyping or learn a new keyboard layout.


## Default settings ⚙️

- set the keyword or hotkey to open in map mode (all keys labeled, default: `qwe`)
- set the keyword or hotkey to open in learning mode (no keys labeled, default: `qww`)
- choose the set of symbols to indicate finger positions (default: 1️⃣2️⃣3️⃣...)
- set keyboard layout (`QWERTY` and `Dvorak` currently supported)
- set overall spacing
- set left padding
	

## Basic Usage 📖

- open in map or learning mode, then press keys to see their position on the keyboard and corresponding finger
- QuickLook (`⌘-Y` or `⇧`) will show a diagram of the keyboard layout.</string>
	<key>uidata</key>
	<dict>
		<key>315A26AD-2578-4663-B856-2470F0B798F4</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>961BDDAE-2EA8-4D1D-B622-BC6302DA23FB</key>
		<dict>
			<key>xpos</key>
			<real>1100</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>9CA3C80D-EA49-423D-912B-2F5E5E9E8391</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>AB8F397A-0188-434D-AAAA-D523253E886D</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>BB0C3DD8-193E-4B96-8278-328D1456E1F6</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>E9138577-74D4-456D-8F44-F1C978230EC7</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>qwe</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword for map mode</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>MAP_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>qww</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword for learning mode</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>LEARNING_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>keycaps</string>
				<key>pairs</key>
				<array>
					<array>
						<string>1️⃣2️⃣3️⃣ ...</string>
						<string>keycaps</string>
					</array>
					<array>
						<string>⓵②③ ...</string>
						<string>circled</string>
					</array>
					<array>
						<string>❶❷❸ ...</string>
						<string>full</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Symbol series</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>SYM_SERIES</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>qwerty</string>
				<key>pairs</key>
				<array>
					<array>
						<string>QWERTY</string>
						<string>qwerty</string>
					</array>
					<array>
						<string>Dvorak</string>
						<string>dvorak</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyboard Layout</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>LAYOUT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>4</integer>
				<key>markercount</key>
				<integer>6</integer>
				<key>maxvalue</key>
				<integer>8</integer>
				<key>minvalue</key>
				<integer>2</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Spacing</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>SPACING</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>6</integer>
				<key>markercount</key>
				<integer>16</integer>
				<key>maxvalue</key>
				<integer>15</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Left Padding</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>LEFT_PAD</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-keyknight</string>
</dict>
</plist>
